.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1f6d9a;
  padding: 50px 0px;
  font-size: 35px;
  font-weight: 700;
}

.App-link {
  color: #09d3ac;
}
